$bg-gray-color: rgba(0, 0, 0, 0.03);
$dark-bg-color: #1a1a1a;
$white-color: #fff;
$dark-color: #333;
$deep-dark-color: #1a1a1a;
$black-color: rgba(0, 0, 0, 0.2);
$mist-color: #e0e0e0;
$light-mist-color: #f0f0f0;
$deep-mist-color: #ccc;
$deep-blue-color: rgba(0, 112, 243, 0.2);
$gray-color: #999;
$light-gray-color: #eee;
$red-color: #ca2a30;
$deep-red-color: rgba(202, 42, 48, 0.2);

$header-height: 60px;
$footer-height: 50px;
$ui-element-height: 48px;

$padding-horizontal: 15px;
$padding-horizontal-ui: 24px;
$padding-vertical: 5px;
$padding-vertical-page: 25px;

$gap: 20px; 
$gap-small: 15px; 

$border-radius: 8px;

$extra-font-size: 24px;
$big-font-size: 18px;
$default-font-size: 16px;
$normal-font-size: 14px;
$small-font-size:  12px;