.header {
   background: $dark-bg-color;
   &_container {
      padding: 0 $padding-horizontal;
      color: $white-color;
      height: $footer-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $gap;
   }
   &_logo {
   
   }
   &_content {
      display: flex;
      align-items: center;
      gap: $gap;
      p {
         white-space: nowrap;
      }
   }
   &_link {
      font-size: $default-font-size;
      color: $white-color;
      font-weight: 600;
      padding-right: $padding-horizontal;
   }
}