.footer {
   background: $dark-bg-color;
   min-height: $footer-height;
   display: flex;
   justify-content: center;
   align-items: center;
   &_container {
      padding: $padding-vertical $padding-horizontal;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &_info {
      color: $white-color;
      text-align: center;
   }
}